@charset "UTF-8";
body{
	background-color:#e6f0f0;
	text-align: center;
}
h1{
	color:#97cdf3;
}
p{
	font-size:20px;
	color:#7fd9d2;
}
.button{
	font-size:20px;
	background:#97cdf3;
	color:#ffffff;
	border-radius:5px;
	padding:18px 32px;
}
.submit{
	font-size:10px;
	background:#97cdf3;
	color:#ffffff;
	border-radius:5px;
	padding:18px 32px;
}

/*firstAdmin.jspの全体の位置調整*/

.side{
	display: flex;
	justify-content: space-between;
	margin: 40px;
}
.note{
	font-size: 5px;
}
/* a{
	font-size: 5px;
} */
p{
	color: black;
}

h1{
	color: blue;
	border: 5px;
}
h2{
	font-size:35px;
	font-family:"ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro",sans-serif;
	color:#97cdf3;
	display:flex;
	justify-content:center;
	margin-top:5%;
}
h3{
	font-size: 20px;
	color:#97cdf3;
}
ul{
	padding-left:0;
	display: flex;
	justify-content: space-between;
	margin: 50px;

}
form{
	margin-bottom: 20px;
}
li{
	list-style: none;
	background-color: yellow;
}
table{
	justify-content: center;
	margin-left: 80px;

}

/*admin.jspの全体の位置調整*/

.side2{
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
